
.container-xl{
	background-color:#F01F6C;
	position: fixed;
	top: 0;
	z-index: 1000;


}

.container-xl a{
	text-decoration: underline;
}


.carousel-inner div img{

	
	background-size: cover;
	height: 100vh;
	object-fit: cover;
	background-position: center;


}
#card{
	width: 100%;
	
	}



 .icono-bolsa1{ 
 	position: relative;
 	left: 13rem;



 }
 .icono-bolsa2{ 
 	position: relative;
 	left: 24rem;



 }
 .titulo{
 	font-size: 1.5rem;
 	line-height: 0.8rem;
 }
 .mapa{
 	position: relative;
 	top: -1.9rem;
 }


#contacto{
	position: relative;
	top: 5rem;
	width: 80%;
	left: 3rem;
}


#footer{
	position: relative;
	top: 0rem;
	background-color:#703048;
	height: 10rem;
	width: 100%;
}
.footer-galeria{
font-size: 1.5rem;
color: black;
text-decoration:  underline;

}


 .redes li{
 	list-style: none;
 	 
 }



 #texto-cl{
 	position: relative;
 	top: 60px;
 }

#mapa-cl{
	position: relative;
	top: 35px;
}

.titulo-cl {
	font-size: 1.5rem;
	
}

#fotos-sn{
	position: relative;
	top: 7.24rem;
}

.texto-sn{
	position: relative;
	top: 6rem;
	margin: auto;
	width: 80%;
	font-size: 2rem;
}
#footer2{
	position: relative;
	top: 12rem;
	background-color:#703048;
	height: 10rem;
	width: 100%

}