@mixin barra-navegacion {
    background-color: map-get($colors, primario);
    position: fixed;
    top: 0;
    z-index: $z-index;
}

@mixin carousel-de-fotos-ix {
    background-size: cover;
    height: $car-height;
    object-fit: cover;
    background-position: center;
    width: 100%;
}

@mixin footer-all {
    position: relative;
    top: $footer-top;
    background-color: map-get($colors, secundario);
    height: $footer-height;
    width: $footer-width;
    font-weight: map-get($mimap, Regular);
    list-style: none;
}

$mimap:(regular:400, Regular:400 italic, Medium :500, Semi-bold :600 italic, Bold :700);
$colors:(primario:#F01F6C, secundario:#703048, terciario:black);