$z-index:1000;
$car-height:100%;
$card:100%;
$icono-bolsa1:2rem;
$icono-bolsa2:10rem;
$titulo-font:1.7rem;
$titulo-line:0.8rem;
$map-top:-1.9rem;
$contacto-top:5rem;
$contacto-width:80%;
$contacto-left:3rem;
$footer-top:0;
$footer-height:10rem;
$footer-width:100vw;
$footer-galeria-font:1.5rem;
$texto-top:60px;
$mapacl-top:35px;
$titulo-cl-font:1.5rem;
$texto-sn-top:6rem;
$texto-sn-width:80%;
$texto-sn-top-font:2rem;
$fotos-sn-top:7.24rem;
$footer2-top:12rem;
$footer2-height:10rem;
$footer2-width:100%;